/* navbar, header */
html body 
{
    font-size: 16 px;
    background-color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
}
.container-fluid
{
    background-color: #6a7b8b;
    padding: 1rem;
    color: #fff;
}
.navbar img
{
    width: 10%;
    margin-left: 2rem;
}    

header img 
{
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;   
}

/* homepage  */



.homepage p
{
    position: absolute;
    color: #fff;
    font-size: 3rem;
    padding-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    text-shadow: black 0.1em 0.1em 0.2em     
}
.homepage img
{
    width: 100%;
}

/* ramki */

.zawartoschome
{
    background-color: #5c5b5b;
    color: #fff;
    text-align: center;
    padding: 5%;
    margin: 4%;
}

.zawartosc-p
{
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-top: 5%;
    
}    

.home-logo
{
    width: 40%;
}
/* koniec ramki*/

.home-h
{
    font-size: 2rem; 
    color: #5c5b5f;
    text-align: center; 
    font-weight: 800;
}
.otwarcie img
{
    width: 10%;
}
.otwarcie p
{
    font-size: 1.5rem; 
    color: #5c5b5f;
    font-weight: 800;
}
.positives
{
    text-align: center;
    font-size: 1.8rem;
    justify-content:space-evenly;
    color: #5c5b5f;
}
.positives2
{
    text-align: center;
    font-size: 1.6rem;
    justify-content:space-evenly;
    color: #5c5b5f;
    font-weight: 700;
}  
.positives3
{
    text-align: center;
    font-size: 1.7rem;
    color: #5c5b5b; 
}
.positives4
{
    text-align: center;
    font-size: 2.2rem;
    color: #5c5b5b;
}
.koniec
{
    margin-bottom: 10%;
}


/*  about */
.about-h
{
    font-size: 3rem; 
    color: #5c5b5b; 
    margin-bottom: 30px;
}
.about-p
{
    font-size: 1.5rem;
    color:#5c5b5f ;
}
.container 
{
    padding-bottom: 10rem;
}

.image-about
{
    width: 100%;
}

/* contact */
.naglowek-h
{
    text-align: center;
    font-weight: 700;
    color:#5c5b5f ;
    margin-top: 5%;
}

.contact
{
    font-size: 1.5rem;
    color:#5c5b5f ;
    margin-left: 25%;
}

.lokalizacja
{
    width: 100%;
    margin-left: 30%;
    margin-right: 30%;
}

/* stopka */

footer
{
    margin-top: 25%;
    background-color: #6a7b8b;
    color: #fff;
    padding: 2rem;
    justify-content:flex-start;
}

.stopka-logo
{
    width: 60px;
}
.social 
{
    text-align: center;
    justify-content: space-between;
}
.column-social
{
    width: 30px;
    margin-left: 2rem;
    justify-content: space-between;
}